<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Us</title>
  <link rel="shortcut icon" href="/static/assests/face-scan-8-1146255.webp">
  <link rel="stylesheet" href="/static/css/index.css">


</head>

<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="/static/assests/face-scan-8-1146255.webp" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link" href="/" style="color:white;">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact" style="color:white;">Contact Us</a></li>
          <li class="nav-item"><a class="nav-link" href="/login" style="color:white;">Log in/Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <section id="contact">


    <div class="container">
      <h1 class="brand"><span>Missing People Finder</span></h1>
      <div class="wrapper">
        <div class="company-info">
          <h3>Contact Us</h3>
          <ul>
            <li><i class="fa fa-road"></i> VIT Bhopal, sehore, madhya pradesh</li>
            <li><i class="fa fa-phone"></i> (+91) 9020510163</li>
            <li><i class="fa fa-envelope"></i> contact@MissingPeopleFinder.ac.in</li>
          </ul>
        </div>
        <div class="contact">
          <h3>Email Us</h3>
          <div class="alert">Your message has been sent</div>
          <form id="contactForm">
            <p>
              <label>Name</label>
              <input type="text" name="name" id="name" required>
            </p>
            <p>
              <label>Company</label>
              <input type="text" name="company" id="company">
            </p>
            <p>
              <label>Email Address</label>
              <input type="email" name="email" id="email" required>
            </p>
            <p>
              <label>Phone Number</label>
              <input type="text" name="phone" id="phone">
            </p>
            <p class="full">
              <label>Message</label>
              <textarea name="message" rows="5" id="message"></textarea>
            </p>
            <p class="full">
              <button type="submit">Submit</button>
            </p>
          </form>
        </div>
      </div>


    </div>
  </section>

  <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
  <script src="/static/js/contact.js"></script>
</body>

</html>