<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Missing People Finder</title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/login.css" />


	<link rel="apple-touch-icon" sizes="180x180" href="static/assests/face-scan-8-1146255.webp">
	<link rel="icon" type="image/png" sizes="32x32" href="static/assests/face-scan-8-1146255.webp">
	<link rel="icon" type="image/png" sizes="16x16" href="static/assests/face-scan-8-1146255.webp">
	<link rel="manifest" href="assets/favicons/site.webmanifest">

</head>

<body>
	<h1 style="color:black;">Finding Lost People Using Face Recognition</h1><br><br>
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<div class="form">
				<h1>Create Account</h1>
				<span>use your email for registration</span><br>
				<input type="text" name="name" id="name_c" placeholder="Name" />
				<input type="email" name="email" id="email_c" placeholder="Email" />
				<input type="password" name="password" id="password_c" placeholder="Password" />
				<button onclick="RegisterUser()">Sign Up</button>
			</div>
		</div>

		<div class="form-container sign-in-container">
			<div class="form">
				<h1>Sign in</h1>
				<span>use your account</span><br>
				<input type="email" name="email" id="email" placeholder="Enter Your Email">
				<input type="password" name="pass" id="password" placeholder="Enter Your Password">
				<a href="#">Forgot your password?</a>
				<button onclick="LoginUser()">Sign In</button>
			</div>
		</div>

		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>

				<div class="overlay-panel overlay-right">
					<h1>Hello, Friend!</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
		</div>

	</div>
	<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase.js"></script>

	<script src="/static/js/login.js"></script>
</body>

</html>